<h1>Esqueceu sua senha?</h1>

<.form let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>

  <div>
    <%= submit("Resetar minha senha") %>
  </div>
</.form>

<p>
  <%= link("Criar conta", to: Routes.user_registration_path(@conn, :new)) %> | <%= link("Login",
    to: Routes.user_session_path(@conn, :new)
  ) %>
</p>
