<main>
  <%= @inner_content %>
  <aside class="alert" role="alert">
    <p class="alert-info"><%= get_flash(@conn, :info) %></p>
    <p class="alert-danger"><%= get_flash(@conn, :error) %></p>
  </aside>
</main>
