@import './reset.css';
@import './pico.min.css';
@import './layout.css';

.live-dashboard {
  position: absolute;
  right: 0;
  padding: 10px;
}

.alert {
  --alert-color: var(--info-darker);
  background-color: var(--alert-color);
  color: var(--alert-color);
}

.alert > p:empty {
  display: none;
}

.alert > p:not(:empty) {
  filter: brightness(0.5);
  padding: 2rem;
  font-weight: 600;
}

.alert-info {
  --alert-color: var(--info-darker);
}

.alert-success {
  --alert-color: var(--success-darker);
}

.alert-error {
  --alert-color: var(--danger-darker);
}

.alert-warning {
  --alert-color: var(--warning-darker);
}
