@import './reset.css';
@import './pico.min.css';
@import './layout.css';

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #00da9c;
  --primary-hover: #2ef6bd;
  --primary-focus: rgba(0, 218, 156, 0.125);
  --primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #00da9c;
    --primary-hover: #2ef6bd;
    --primary-focus: rgba(0, 218, 156, 0.25);
    --primary-inverse: #fff;
  }
}

[data-theme='dark'] {
  --primary: #00da9c;
  --primary-hover: #2ef6bd;
  --primary-focus: rgba(0, 218, 156, 0.25);
  --primary-inverse: #fff;
}

:root {
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --error: #f44336;
  --error-hover: #f58178;
  --error-focus: rgba(244, 67, 54, 0.25);
  --error-inverse: #fff;
}

[role='alert'] {
  --alert-border-color: var(--primary);
  --alert-background-color: var(--primary-focus);
  --alert-text-color: var(--primary-inverse);
  border-left: 5px solid var(--alert-border-color);
  background-color: var(--alert-background-color);
  color: var(--alert-text-color);
  margin: 1rem 0;
}

[role='alert'].error {
  --alert-border-color: var(--error);
  --alert-background-color: var(--error-focus);
  --alert-text-color: var(--error-inverse);
}

[role='alert']:empty {
  display: none;
}
