@import './reset.css';
@import './pico.min.css';
@import './layout.css';
@import './colors.css';

input ~ small {
  color: var(--error);
}

[role='alert'] {
  border-left: 5px solid var(--alert-border-color);
  background-color: var(--alert-background-color);
  color: var(--alert-text-color);
  margin: 1rem 0;
}

[role='alert'].error {
  --alert-border-color: var(--error);
  --alert-background-color: var(--error-focus);
  --alert-text-color: var(--error-inverse);
}

[role='alert']:empty {
  display: none;
}
