:root {
  --primary: #0d6efd;
  --primary-darker: #0b5ed7;

  --neutral: #6c757d;
  --neutral-darker: #51585e;
  --neutral-lighter: #f8f9fa;

  --success: #198754;
  --success-darker: #157347;

  --danger: #dc3545;
  --danger-darker: #b02a37;

  --warning: #ffca2c;
  --warning-darker: #ffc107;

  --info: #0dcaf0;
  --info-darker: #31d2f2;
}
