<h1>Confirmar conta</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit("Confirme minha conta") %>
  </div>
</.form>

<p>
  <%= link("Criar conta", to: Routes.user_registration_path(@conn, :new)) %> | <%= link("Login",
    to: Routes.user_session_path(@conn, :new)
  ) %>
</p>
