<h1>Reenviar instruções de confirmação</h1>

<.form let={f} for={:user} action={Routes.user_confirmation_path(@conn, :create)}>
  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>

  <div>
    <%= submit("Reenviar instruções de confirmação") %>
  </div>
</.form>

<p>
  <%= link("Criar conta", to: Routes.user_registration_path(@conn, :new)) %> | <%= link("Login",
    to: Routes.user_session_path(@conn, :new)
  ) %>
</p>
